@import url("https://fonts.googleapis.com/css2?family=Fuggles&family=IBM+Plex+Mono:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  display: flex;
  height: 100vh;
}
.sideBar {
  background-color: rgb(42, 42, 42);
  width: 20%;
  padding: 20px 20px;
  height: 100%;
}

.mainComponent {
  background-color: rgb(77, 77, 77);
  width: 80%;
  height: 100%;
}
.navbar {
  background-color: black;
  color: white;
  height: 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10px;
}
.navbar .title {
  font-size: 35px;
  font-family: "Fuggles", cursive;
}

.inputBox {
  padding: 20px 25px 10px 25px;
}
.inputBox input {
  width: 100%;
  background-color: rgb(227, 227, 227);
  outline: none;
  border-radius: 5px;
  font-size: 16px;
  border: none;
  padding: 15px 20px 15px 20px;
}
.InputComponent p {
  opacity: 0.5;
  color: white;
  font-family: "Arial Narrow", Arial, sans-serif;
  text-align: center;
}
.fa-paper-plane {
  position: absolute;
  right: 20px;
  color: rgb(108, 108, 108);
  padding: 15px 30px;
}
.CodeEditorMainClass {
  height: 65%;
}
.ButtonGroup {
  display: flex;
  width: 100%;
  height: 5%;
  justify-content: space-around;
  /* padding: 20px 20px 0px 20px; */
  margin-top: 25px;
}

.Btn {
  align-items: center;
  background-image: linear-gradient(144deg, #af40ff, #5b42f3 50%, #00ddeb);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #ffffff;
  display: flex;
  font-family: Phantomsans, sans-serif;
  font-size: 15px;
  justify-content: center;
  line-height: 0.2em;
  /* max-width: 100%; */
  /* min-width: 140px; */
  padding: 5px 0px 0px 3px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
}

.Btn:active,
.Btn:hover {
  outline: 0;
}

.Btn span {
  background-color: rgb(5, 6, 45);
  padding: 16px 14px;
  border-radius: 6px;
  width: 100%;
  height: 100%;
  transition: 300ms;
}

.Btn:hover span {
  background: none;
}

@media (min-width: 768px) {
  .Btn {
    font-size: 14px;
    /* min-width: 196px; */
  }
}
.Btn i {
  font-size: 15px;
  padding: 5px;
}

.button {
  position: relative;
  width: 150px;
  height: 40px;
  cursor: pointer;
  display: flex;
  align-items: center;
  border: 1px solid #17795e;
  background-color: #209978;
  overflow: hidden;
}

.button,
.button__icon,
.button__text {
  transition: all 0.3s;
}

.button .button__text {
  transform: translateX(22px);
  color: #fff;
  font-weight: 600;
}

.button .button__icon {
  position: absolute;
  transform: translateX(109px);
  height: 100%;
  width: 39px;
  background-color: #17795e;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button i {
  width: 20px;
  fill: #fff;
}

.button:hover {
  background: #17795e;
}

.button:hover .button__text {
  color: transparent;
}

.button:hover .button__icon {
  width: 148px;
  transform: translateX(0);
}

.button:active .button__icon {
  background-color: #146c54;
}

.button:active {
  border: 1px solid #146c54;
}
.CodeEditorMainClass {
  margin: 10px 5px;
  padding: 10px;
}
.CodeEditorMainClass textarea {
  background-color: #272727;
  color: white;
  font-size: 1.2rem;
  width: 100%;
  height: 100%;
  padding: 10px;
  border: none;
  /* border-radius: 10px; */
  font-family: "IBM Plex Mono", monospace;
}
.CodeEditorMainClass textarea:focus {
  outline: none;
  /* border: none; */
}
.CodeEditorMainClass p {
  width: 100%;
  background-color: black;
  color: white;
  padding: 5px;
}

.historyTab {
  display: flex;
  padding: 5px;
  border: 1px solid white;
  /* margin-bottom: 3px; */
  width: 90%;
  margin-left: 5%;
  color: white;
  border-radius: 5px;
  font-size: 1.2rem;
  margin-top: 5%;
}
.historyTab i {
  margin-right: 10px;
}
.sideBar ::-webkit-scrollbar {
  width: 2px;
  color: rgb(255, 255, 255);
}
.sideBar ::-webkit-scrollbar-thumb {
  background: #ffffff;
}

.historylist {
  height: 75%;
  overflow-y: scroll;
  margin-top: 10%;
  background-color: rgb(77, 77, 77);
  border-radius: 10px;
}

.user {
  /* position: absolute; */
  /* bottom: 10px; */
  margin-top: 5%;
  display: flex;

  width: 100%;
  height: 10%;
  left: 2%;
  padding: 20px;
  font-size: 1.2rem;
  border-top: 2px solid white;
  /* border-radius: 10px; */
  color: white;
}
.user span {
  margin-left: 10px;
}
.historyLabel {
  color: white;
  text-align: center;
  font-size: 1.3rem;
}
